.yo {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    transition: all 500ms ease;
}
.yo:hover{
    transform: scale(1.05);
}

section { 
    color: #9f5f80;
    font-family: Helvetica;
   
}

span{ 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
     
}

.boton{
    text-decoration:none;
    font: weight 60px;;
    font-size:17px;
    color:#480032;
    padding: 10px 30px;
    margin: 30px;
    height: auto;
    background-color:#fcdec0;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    text-decoration: none;
    cursor: pointer;
    text-shadow:  0 0 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    border: 1px solid #480032;
    transition: all 500ms ease;
    animation: btn 4s infinite;
}

.boton:hover{
    background-color: #e5b299;
}

.boton:active{
    background-color: #7d5a50;
}

.textoOculto{
    display:none;
}