.arbol{
    padding: 0px;
    width: 1280px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    height: auto;
    transition: all 500ms ease;
}

.arbol:hover{
    transform: scale(1.005);
}

.parrafo{
    color: #9f5f80;
}

.cuadro1 {
    padding: 37px;
    width: 500px;   
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 8px;
    color: #480032;
    display: inline-block;
    background-color: #ffd8cc;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    filter: brightness(90%);   
    transition: all 500ms ease; 
}

.cuadro1:hover{
    filter: brightness(100%);
}

.cuadro2 {
    padding: 37px;
    width: 500px;   
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 60px;
    color: #480032;
    top: 800px;
    display: inline-block;
    background-color: #ffd8cc;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    filter: brightness(90%);  
    transition: all 500ms ease;  
}

.cuadro2:hover{
    filter: brightness(100%);
}

ul{
    list-style-type: none;
    display: inline-block;
    color: #480032;
}

.subtitulo{
    color: #000;
    position: relative;
}

.comparar{
    display: grid;
    grid-gap: 200px;
    grid-template-columns: repeat(2, 1fr);
}   

section { 
    color: #9f5f80;
    font-family: Helvetica;
    text-align: center;
    display: inline-block;
}