head{
    font-family: Helvetica;
    
}
header{
    font-family: Helvetica;
    background-color: #ca8a8b;
    text-align: left;
    margin-top: 20px;
}
body { 
    background-position: justify;
    margin:0 auto;
    text-align: justify;
    max-width: 1280px;
  }

.logo{
    text-align: left;
    margin: 30px;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
}
.titulo { 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
    border-left: 50px; 
    display: inline-block;    
}
div{
  text-align: center;
  color:#ca8a8b;
}
p{
   text-align: justify;
    
}

img {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
h1 { 
    color: #79a3b1;
    visibility: visible;
    font-family: helvetica;
    text-align: center;
    border-left: 50px;     
}
section { 
    color: #9f5f80;
    font-family: Helvetica;
   
}
h3 { 
    color: #79a3b1;
    visibility: visible;
    font-family: helvetica;
    text-align: center;
    border-left: 50px;   
}

span{ 
    color: #79a3b1;
    visibility: visible;
    font-family: helvetica;
     
}

footer{
    font-family: Helvetica;
    background-color: #ca8a8b;
    text-align: center;
    padding: 10px;
}

