head{
    font-family: Helvetica;
    
}
header{
    font-family: Helvetica;
    background-color: #ca8a8b;
    text-align: left;
    margin-top: 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.direcciones{
    text-align: left;
    background-color: #ffd8cc;
    padding: 15px;
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    max-width: 1280px;
    display: block;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    text-decoration: none;
    
}
.link{
    padding: 17px 145px;
    color: #b4846c;
    
}
.link:hover{
    background-color:#480032 ;
}
body {
    background-position: justify;
    margin:0 auto;
    text-align: justify;
    max-width: 1280px;
  }

.logo{
    text-align: left;
    margin: 30px;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.titulo { 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
    border-left: 50px; 
    display: inline-block;    
}
div{
  text-align: auto;
  color:#ca8a8b;
}
p{
   text-align: justify;
    
}

.yo {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
h1 { 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
    text-align: center;
    border-left: 50px;     
}
section { 
    color: #9f5f80;
    font-family: Helvetica;
   
}
h2 { 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
    text-align: center;
    border-left: 50px;   
}

span{ 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
     
}
.boton{
    text-decoration:none;
font: weight 60px;;
font-size:17px;
color:#480032;
padding: 10px 15px;
height: auto;
background-color:#fcdec0;
border-radius: 20px;
box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
text-decoration: none;
cursor: pointer;
text-shadow:  0 0 5px 0 rgba(0,0,0,.5);
box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.boton:hover{
    background-color: #e5b299;
}
.boton:active{
    background-color: #7d5a50;
}
.textoOculto{
    display:none;
}

footer{
    font-family: Helvetica;
    background-color: #ca8a8b;
    color: #480032;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}

