head{
    font-family: Helvetica;
    text-align: left;
}

header{
    font-family: Helvetica;
    background-color: #ca8a8b;
    text-align: left;
    margin-top: 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.logo{
    text-align: left;
    margin: 30px;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.direcciones{
    text-align: left;
    background-color: #ffd8cc;
    padding: 15px;
    margin-top: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    max-width: 1280px;
    display: block;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    text-decoration: none;
    
}
.link{
    padding: 17px 145px;
    color: #b4846c;
    
}
.link:hover{
    background-color:#480032 ;
}
.galeria{
    text-align: justify;
    transition: all 300ms;
    cursor: pointer;
}

.hobbie{
    width: 296px;
    max-width: 300px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.hobbie:hover{
    transform: scale(1.05);    
}
.mascota{
    width: 296px;
    max-width: 300px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    
}
.mascotas, .viajes {
    display: none;
    
}

.mascota:hover{
    transform: scale(1.05);    
}
.viaje{
    width: 296px;
    max-width: 300px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.viaje:hover{
    transform: scale(1.05);    
}
.boton{
    text-decoration:none;
font: weight 60px;;
font-size:20px;
color:#480032;
padding: 10px 15px;
height: auto;
background-color:#fcdec0;
border-radius: 20px;
box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
text-decoration: none;
cursor: pointer;
text-shadow:  0 0 5px 0 rgba(0,0,0,.5);
box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}
.boton:hover{
    background-color: #e5b299;
}
.boton:active{
    background-color: #7d5a50;
}
body { 
  background-position: justify;
  margin:0 auto;
  text-align: justify;
  max-width: 1280px;
}

.titulo { 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
    border-left: 50px; 
    display: inline-block;    
}

.titulo2 { 
    color: #480032;
    visibility: visible;
    font-family: helvetica;
    text-align: center;
    border-left: 50px;     
}
section { 
    color: #9f5f80;
    font-family: Helvetica;
    text-align: center;
}
h3 { 
    color: #480032;
    
}

footer{
    font-family: Helvetica;
    background-color: #ca8a8b;
    color: #480032;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}